---
import { getLocale } from 'astro-i18n-aut'
import { useTranslations } from '../../i18n/translator'
const locale = getLocale(Astro.url)
const { t } = useTranslations(locale)
---

<p class="pb-4 md:pb-8">{t('company.chloe.description.part1')}</p>

<p class="pb-2">
  {t('company.chloe.description.part2')}
</p>
